.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}


.layui-input {
  height: 30px;
  padding-left: 12px;
  background-color: #424652;
  background-color: rgba(255, 255, 255, .05);
  border: none 0;
  color: #fff;
  font-size: 12px;
  width: 20%;
  
}

.index-search::-webkit-input-placeholder,
.index-search::-moz-input-placeholder,
.index-search::-ms-input-placeholder {
  color: #fff;
}

.img {
  width: 100%;
  
}

